@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Supermercado+One');

/* BASE STYLES */

*	{
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

body	{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	font-size: 1em;
	font-family: verdana;
	line-height: 1.5;
}

ul	{
	margin: 0 auto;
	width: 100%;
}

h2	{
	text-align: center;
}

a	{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: rgba(000,150,126, 1);
	transition: color .3s;
}

a:hover,
a:focus,
a:active	{
	color: rgba(000,150,126, .4);
}

.clearfix::after	{
	content: "";
	display: table;
	clear: both;
}


/**************************/

/* HEADER */

header	{
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-image:linear-gradient(to top, #000, transparent), url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70% 50%;
}

header div	{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

#menu 	{
	background: rgba(80, 42, 31, .6);
	display: flex;
	justify-content: center;
	list-style: none;
	width: 100%;
	z-index: 100;
}

#menu a	{
	transition: background .3s;
}

#menu a:hover,
#menu a:focus,
#menu a:active	{
	background: #400;
}

#menu a li	{
	margin: auto;
	padding: 18px 23px;
	display: block;
	color: #fff;
	text-transform: uppercase;
}

#logo	{
	width: 100%;
	max-width: 200px;
	padding: 0;
	margin: 0 auto;
	background: transparent;
	display: block;
}

.sub-heading	{
	margin: 0 auto;
	padding: 10px 10px;
	text-align: center;
	color: #fff;
	font-family: 'Amatic SC', cursive;
	letter-spacing: 1px;
}

.sub-heading-2	{
	color: #fff;
	background: rgba(000,50,126, .8);
	margin: 0 auto;
	padding: 15px;
	display: block;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Supermercado One', cursive;
}

/*************************/
/* MAIN */

main	{
	margin: 0 auto;
	position: relative;
	width: 100%;
	padding: 0;
}

.section-1 div:nth-child(odd)	{
	/*background: rgba(255,215,0, .6);*/
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

.section-1 div:nth-child(even)	{
	background: rgba(40, 40, 0, .7);
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

.section-2	{
	margin: 0 auto;
}

.section-1 h2,
.section-2 h2	{
	margin: 0 auto;
	padding: 20px 0;
}


/*AIMS*/

.aims	{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.aims li	{
	flex: 1 250px;
	width: 100%;
	margin: 10px auto;
	padding: 10px;
	text-align: justify;
}

.aims li img	{
	width: 100%;
	max-width: 200px;
	display: block;
	margin: 0 auto;
	padding: 10px;
}


/*key aspects*/

.key-aspects	{
	list-style: none;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 0 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.key-aspects li	{
	flex: 1 250px;
	padding: 10px;
	margin: 10px auto;
}

.key-aspects li img	{
	width: 100%;
	max-width: 200px;
	display: block;
	margin: 0 auto;
	border-radius: 10%;
	padding: 20px;
	background: #fff;
	transition: all .3s;
}


/* subjects */

.subjects	{
	margin: 0 auto;
	padding: 0 0 40px 0;
	position: relative;
	width: 100%;
	max-width: 800px;
	display: flex;
}

.subjects-container	{
	/*list-style: square;*/
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.subjects-container:nth-child(2)	{
	border-left: 5px solid white;
}

.subjects-container li	{
	margin: 5px auto;
	padding: 8px;
}

.subjects-container li:nth-child(odd)	{
	background: #eee;
}

.subjects-container li:nth-child(even)	{
	background: #8cc;
}


/* ABOUT CONTAINER */

.about-container	{
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.about-container .container	{
	flex: 1 280px;
	padding: 20px;
	margin: 0 auto;
	text-align: justify;
	color: #fff;
}

.two	{
	background: rgba(40, 40, 0, .7);;
}

.one,
.three	{
	background: rgba(000,50,126, 1);
}

.front img	{
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	padding: 10px;
	display: block;
}


/*CONTACT*/

.contact	{
	margin: 0 auto;
	list-style: none;
	padding: 20px;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contact li	{
	margin: 10px 15px;
}

.contact li ul	{
	padding: 0;
	margin: 0;
	list-style: none;
}

.contact p	{
	font-weight: 600;
	text-align: center;
}


/* GOOGLE MAP */

#map	{
	width: 90%;
	max-width: 750px;
	height: 350px;
	background: grey;
	margin: 20px auto;
	transition: all .3s;
}


/*FOOTER*/

footer	{
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 800px;
}

.call	{
	margin: 0 auto;
	padding: 20px;
	color: #fff;
	background: rgba(000,107,166, .6);
	display: block;
	width: 100%;
	max-width: 250px;
	text-align: center;
	border-radius: 8px;
	transition: background .4s;
}

.call:hover,
.call:focus,
.call:active	{
	background: rgba(000,50,126, 1);
	color: #fff;
}


/* MEDIA QUERIES */

@media (min-width: 768px)	{
	
	.subjects	{
		
		min-width: 450px;
	}
}

@media (min-width: 1024px)	{
	/*.p-lo	{
		display: flex;
		align-items: stretch;
	}*/
}

